include includes/header.pug
link(rel='stylesheet', href='/styles/style.css')
link(rel='stylesheet', href='/styles/sidebar.css')
script(src='/javascript/sidebar.js', defer)
body
    include includes/sidebar.pug

    #sidebarExtension.bg-light 
        header.text-center.pt-4 
            .large-icon.bg-white.round 
                if guild.icon
                    img.round(src=guild.iconURL({dynamic: true, size: 128 }), alt=guild.name)
                else 
                    p.abbr #{guild.nameAcronym}
            h4.pt-2 #{guild.name}
        .tabs.navbar-nav 
            .category Modules 
            a(href='#') #[i.fas.fa-gavel.pr-1.text-muted] Administration 
            a(href='#') #[i.fas.fa-coins.pr-1.text-muted] Economy 
            a(href='#') #[i.fas.fa-music.pr-1.text-muted] Music 
            a(href='#') #[i.fas.fa-star.pr-1.text-muted] General 

    include includes/navbar.pug
    .main.text-center.container
        br
        br
        h1.display-3 #{guild.name}
        hr
        p.lead Manage your servers and configurations here!